@import "_global.scss";
/* START IMAGE SECTION */
.slider {
    border: solid var(--darkblue) 10px;
    width: 15em;
    overflow: hidden;
    margin-left: 5em;
    margin-top: 1.5em;
}
.slider:hover {
    transform: scale(2.2);
}
.slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.middle {
    position: absolute;
    top: 25%;
    left: 35%;
}
.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar {
    width: 50px;
    height: 10px;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 1;
    background-color: var(--side-menue-col);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.slide {
    width: 20%;
    transition: 0.6s;
}
.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -20%;
}
#r3:checked ~ .s1 {
    margin-left: -40%;
}

/* END IMAGE SECTION */
/* START TEXT SECTION */
.python-text {
    position: absolute;
    right: 0em;
    height: 100vh;
    width: 30vw;
    padding: 3em;
    border: 0.05em solid black;
}
.python-text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15em;
}
/* END TEXT SECTION */
