*,
::before,
::after {
    box-sizing: border-box;
}
:root {
    --side-menue-col: rgb(58, 187, 58);
    --white: white;
}
html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}
/* (ALL 3 HTML PAGES SAME CSS) START NAV SECTION */
.side-menue {
    width: 100%;
    height: 100vh;
    background-color: var(--side-menue-col);
    border: 0.05em solid black;
}
.side-menue__link-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 3em;
    margin-left: 3vw;
    margin-top: 15vh;
    border: 0.1em solid black;
    background-color: var(--white);
}
.side-menue__links-wrapper__link {
    width: 100%;
    height: 4em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 2rem;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;
    border: 0.05em solid black;
}
.side-menue__links-wrapper__link:hover {
    transform: scale(1.1);
    background-color: gray;
}
/* END NAV SECTION */

/* START ARTICLE SECTION */

.profile__image {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 11em;
    margin-left: 11em;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}
.profile__name {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 2.5em;
    margin-left: 2.5em;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}
.profile__title {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 7em;
    margin-left: 7em;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}
.profile__social-media-icons-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 7em;
    margin-left: 7em;
    width: 10rem;
    font-size: xx-large;
    border: 0.05em solid black;
    gap: 5px;
}

/* END ARTICLE SECTION */

/* START SECTION SECTION */
.skills__aboutme {
    width: 80%;
    height: 10%;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}

.skills__text {
    width: 80%;
    height: auto;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}

/* END SECTION SECTION */
.skills__list {
    position: relative;
    border: 0.05em solid black;
    width: 35rem;
}
.skills__list__list-items {
    border: 0.05em solid black;
    width: 35rem;
    height: 3rem;
    padding: 1rem;
}
.skills__list__list-items__progressbar-html {
    position: absolute;
    top: -0.5em;
    width: 60%;
    height: 30%;
    margin-left: 6rem;
}
.skills__list__list-items__progressbar-css {
    position: absolute;
    top: 2.8em;
    width: 60%;
    height: 30%;
    margin-left: 6.5rem;
}
.skills__list__list-items__progressbar-js {
    position: absolute;
    top: 5.8em;
    width: 60%;
    height: 30%;
    margin-left: 1.8rem;
}
.skills__list__list-items__progressbar-py {
    position: absolute;
    top: 8.8em;
    width: 60%;
    height: 30%;
    margin-left: 5rem;
}
.skills__list__list-items__progressbar-html__label {
    position: absolute;
    left: 15em;
    top: 0.8em;
    color: var(--white);
}
.skills__list__list-items__progressbar-css__label {
    position: absolute;
    left: 15em;
    top: 4.1em;
    color: var(--white);
}
.skills__list__list-items__progressbar-js__label {
    position: absolute;
    left: 15em;
    top: 7.1em;
    color: black;
}
.skills__list__list-items__progressbar-py__label {
    position: absolute;
    left: 15em;
    top: 10.1em;
    color: var(--white);
}
