*,
::before,
::after {
    box-sizing: border-box;
}
:root {
    --side-menue-col: rgb(58, 187, 58);
    --white: white;
}
html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}
/* (ALL 3 HTML PAGES SAME CSS) START NAV SECTION */
.side-menue {
    width: 100%;
    height: 100vh;
    background-color: var(--side-menue-col);
    border: 0.05em solid black;
}
.side-menue__link-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 3em;
    margin-left: 3vw;
    margin-top: 15vh;
    border: 0.1em solid black;
    background-color: var(--white);
}
.side-menue__links-wrapper__link {
    width: 100%;
    height: 4em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 2rem;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;
    border: 0.05em solid black;
}
.side-menue__links-wrapper__link:hover {
    transform: scale(1.1);
    background-color: gray;
}
/* END NAV SECTION */

/* START ARTICLE SECTION */
.profile {
    flex-grow: 1;
}
.profile__image {
    width: 50%;
    margin-left: 6em;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}
.profile__name {
    width: 30%;
    margin-left: 7em;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}
.profile__title {
    width: 40%;
    margin-left: 5.25em;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}

/* END ARTICLE SECTION */

/* START SECTION SECTION */
.skills__aboutme {
    width: 80%;
    height: 10%;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}
.skills__text {
    width: 80%;
    height: 30%;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0.05em solid black;
}
/* END SECTION SECTION */
